body {
    font-family: "acumin-pro";
    margin:1% 15%;
    font-size: 18px;
    line-height: 1.45em;
    font-weight:200;

<<<<<<< HEAD
h1,h2,h3,h4 { 
    font-family: 'Cardo', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    line-height:1.2em;
    margin-bottom:20px;
    color:#e96443; /*sofie color choice */
    line-height: 1;
=======
>>>>>>> a821254b83e3c4aca0cbcfaf72823774f84c3afa
}

h1, h2, h3, h4, h5, h6 {
    font-family: "acumin-pro-wide";
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.1em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .25em 0;
    padding:0;
}
a { 
    text-decoration: none;
    color:black;
}

a visited {
    color:black;
}

a:hover {
    color:#ff09d1;
}


h1 {
    margin:2em 0 0.15em 0;
    font-size:2em;
}

h2 {
    margin:1em 0 .25em 0;
    font-size:1.5em;


}

h3 {
    font-size:1em;
    line-height:1.45em;
    margin:0 0 .5em 0;
}
#home-header {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#home-header img {    
    width:20%;
    min-width:100px; 
    margin-bottom:1em;
}

<<<<<<< HEAD
.intro { margin-top:0;}



.button { 
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing:.1em; 
    padding:20px;
    border:1px solid rgb(255, 66, 19);
    margin-top:20px;
    font-size:.9em;
    text-decoration: none;
=======
#main-header {
    display:flex;
    align-items: center;
>>>>>>> a821254b83e3c4aca0cbcfaf72823774f84c3afa
}

#main-header img {
    width:75px; 
    margin-right:2em;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

.media-icons {
    display:flex;
    align-items:center; 
}

.media-icons img {
    width:75px;
    margin:2em 4em 1em 0;
}


nav {    width:70%; background-color:rgba(255,255,255,.9);}
nav ul { 
    display:flex; 
    align-items:center; 
    justify-content: center;
    width: 100%;
    padding:0;
    margin:0;    
}

nav li {
    margin:2%;
    list-style: none;
    text-align: center;
    font-family: "acumin-pro-wide";
    font-weight: 500;
    letter-spacing: .1em;
}

section {
    padding-top:1em;
}

.wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


.box img { width:100%;}
.box h2 { margin-top:1em; margin-bottom: -.4em; }
.box .media { display:flex; align-items:center;}
.box .media img { width:25px; margin:.2em .3em; }

 .a {
     grid-column: 1 / span 3;
 }
 .b {
     grid-column: 1 / span 2;
     grid-row: 2 / span 1;
 }
 .c {
     grid-column: 1 / span 2 ;
     grid-row: 3 ;
 }
 .d {
     grid-column: 3 / span 2 ;
     grid-row: 3 ;
 }

 .e {
     grid-column: 3 / span 2 ;
     grid-row: 4 ;
 }
 .f {
     grid-column: 3 / span 2 ;
     grid-row: 5 ;
 }
 .g {
     grid-column: 1 / span 2 ;
     grid-row: 5 ;
     text-align: right;
 }