body {
    font-family: "acumin-pro";
    margin:1% 15%;
    font-size: 18px;
    line-height: 1.55em;
    font-weight:200;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "acumin-pro-wide";
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.1em;
}

h3, h4, h5, h6 {
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .25em 0;
    padding:0;
}
a { 
    text-decoration: none;
    color:black;
}

a visited {
    color:black;
}

a:hover {
    color:#ff09d1;
}


h1 {
    margin: 2em 0 0.15em 0;
    font-size: 1.25em;
    text-transform: uppercase;
}

h2 {
    font-family: "acumin-pro";
    margin:1em 0 .25em 0;
    font-size:1.5em;


}

h3 {
    font-size:1em;
    line-height:1.5em;
    margin:0 0 .5em 0;
}

#about h3  {    
    font-size: 1em;
    line-height: 1.65em;
    margin-top: .5em;
    max-width: 500px;
}

h4  { font-family: "acumin-pro";}
section {
    margin-bottom:10em;
}
#home-header {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

#home-header img {    
    width:20%;
    min-width:100px; 
    margin-bottom:1em;
}

#main-header {
    display:flex;
    align-items: center;
}

#main-header img {
    width:75px; 
    margin-right:2em;
}

#pursuit-header {
}

#pursuit-header h1{
    font-family: "acumin-pro-extra-condensed",sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3.25em;
    line-height: .9em;
    margin-bottom: .25em;
    text-transform: uppercase;
}


#pursuit-header h2 {
    font-family: "acumin-pro";
    margin: 0 0 .25em 0;
    font-size: 1.25em;
    text-align: center;
}

#pursuit-header img {
    margin:2em auto 0 auto;
    display:block;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

.media-icons {
    display:flex;
    align-items:center; 
}

.media-icons img {
    width:40px;
    margin:2em 2em 1em 0;
}


nav {    width:70%; background-color:rgba(255,255,255,.9);}
nav ul { 
    display:flex; 
    align-items:center; 
    justify-content: center;
    width: 100%;
    padding:0;
    margin:0;    
}

nav li {
    margin: 2%;
    list-style: none;
    text-align: center;
    font-family: "acumin-pro-wide";
    font-weight: 500;
    letter-spacing: .1em;
    font-size: .65em;
    text-transform: uppercase;
}

section {
    padding-top:1em;
}

.wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


.box img { width:100%;}
.box video {width:100%;}
.box h2 { margin-top:1em; margin-bottom: -.4em; }
.box .media { display:flex; align-items:center;}
.box .media img { width:20px; margin:.2em .4em; }
.i p { font-size: .8em; margin:0; line-height:1.2em;}
.i h4 { margin-bottom:0 0 .5em 0;}

 .a {
     grid-column: 1 / span 4;
 }
 .b {
     grid-column: 1 / span 2;
     grid-row: 2 / span 1;
 }
 .c {
     grid-column: 1 / span 2 ;
     grid-row: 3 ;
 }
 .d {
     grid-column: 3 / span 2 ;
     grid-row: 3 ;
 }

 .e {
     grid-column: 1 / span 2 ;
     grid-row: 4 ;
 }
 .f {
     grid-column: 3 / span 2 ;
     grid-row: 5 ;
 }
 .g {
     grid-column: 1 / span 2 ;
     grid-row: 5 ;
 }

.h {
     grid-column: 1 / span 4;
 }

.i {
     grid-column: span 2;
 }

@media all and (max-width: 550px) {
    body {  font-size:16px; margin:1% 10%;}

    .wrapper{ display:block;}
    .box h2 {margin-bottom:0.2em;}
    .g { text-align:left;}
    nav { width:100%;}
    nav ul li a{ font-size:1em; }
    nav li { margin: 0 8% 0 0; }
    nav ul { background-color:white;}
    .media-icons img { width:45px; margin:2em 2em 1em 0;}

    }