body {
    font-size:16px;
}

p, li, a { 
    font-family: Verdana, sans-serif;
    line-height:1.65em;
    margin-bottom:20px;
}

h1,h2,h3,h4 { 
    font-family:Oswald, Georgia;
    font-weight: 100;
    line-height:1.2em;
    margin-bottom:20px;
    color:#e96443; /*sofie color choice */
}
section { margin:100px 180px 100px 180px;}

header {  
    
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(39, 0, 115), rgb(204, 40, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(39, 0, 115), rgb(204, 40, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#c8ffe4;
    position:relative;
    height:550px;
    background: black; /*sofiebackground */

    
}

header h1 {
    font-size:5em;
    font-weight: 100;
    color:white;
    margin-top:250px;
}

#intro-video {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    opacity:.75;
}

#header-content {
    position:absolute;
    margin:100px 180px 0px 180px;
    z-index:2;
    bottom:0;
    left:0;
    user-select:none;

    
}

nav { 
    position:fixed;
    top:0px;
    background: rgb(233, 100, 67, .85);  /* fallback for old browsers */
   
    width:100%;
    padding-top:10px;
    padding-bottom:10px;

 
    

}
nav ul {
    float:right;
    margin-right: 150px;
}

nav li {
    list-style: none;
    font-size:.7em;
    float:left;
    margin:0 10px 0 10px;
   
}

nav li a{
    text-transform:uppercase;
    text-decoration:none;
    color:#c8ffe4; /* green */
    color:lightyellow; /* light blue */
    letter-spacing:1.5px;

}

h1 { 
    font-size:3em;
    font-weight:300;
}

@media all and (max-width: 1024px) { 

    section { margin:80px;}
    header  {padding:80px;}
    header h1 { font-size: 4em;}

} 

@media all and (max-width: 839px) {

    section { margin:50px;}
    header  {padding:50px;}
} 

@media all and (max-width: 480px) {
    #header-content { 
        margin-left: 40px;
        margin-right: 40px;
    }
    
    header h1 {
        font-size:2.5em;
       
      
        
    }
    h1 { font-size:1.5em;}
    nav ul {float:left; }
}

header p {
    color:lightyellow; /* light blue */
    line-height: 1.5em;
}
