body {
    font-size:18px;
}

p, li, a { 
    font-family: 'Cardo', serif;
    line-height:1.7em;
    margin-bottom:20px;
}

h1,h2,h3,h4 { 
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom:20px;
    color:rgba(255, 51, 0, .8);
    line-height: 1.1em;
}
section { margin:10px 180px 50px 180px;}

header {  
    color:#c8ffe4;
    position:relative;
    height:550px;
    background: rgba(255, 64, 143, 0.54);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 64, 143, 0.54), rgba(0, 255, 231, 0.67));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 64, 143, 0.54), rgba(0, 255, 231, 0.67)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index:1; 
}


nav { 
    position:fixed;
    top:0px;
    background: rgba(255, 66, 19, 0.85);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 64, 143, 0.65), rgba(255, 51, 0, 0.85));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 64, 143, 0.65), rgba(255, 51, 0, 0.85)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
    z-index:100;
 
    

}
nav ul {
    float:right;
    margin:0 150px 0 0;
}

nav li {
    list-style: none;
    float:left;
    margin:0 10px 0 10px;
   
}

nav li a{
    text-decoration:none;
    color:white;
    font-size:.9em;
    text-transform:lowercase;
    letter-spacing: .02em;


}

h1 { 
    font-size:3em;
}




#intro-video {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    z-index:2;
    mix-blend-mode: color-burn;
}

#header-content {
    margin:0 180px 0 180px;
    margin-top:250px;
    position:relative;
    margin:-115px 50px 0px 180px;
    z-index:5;
    bottom:30px;
    left:0;
    user-select:none;

    
}

#header-content h2 {
    font-family: 'Cardo', serif;
    font-style: italic;
    text-transform: lowercase;
    color:white;
    margin:0;
    font-size:2em;
    font-weight: 400;
}

#header-content h1 {
    font-size:3.5em;
    color:white;
    margin:0;
}

.intro { margin-top:0;}



.button { 
    font-family: 'Oswald', sans-serif;
    letter-spacing: .15em;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(255, 64, 143, 1);
    margin-top: 10px;
    font-size: .9em;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background: rgba(255, 66, 19, 0.85);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(255, 64, 143, 0.05), rgba(255, 51, 0, 0.15));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(255, 64, 143, 0.05), rgba(255, 51, 0, 0.15)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.button  { 
    text-transform:uppercase;
    color:rgba(255, 64, 143, 1);
}

.italic {
    font-style: italic;
}

#about, #bio, #syllabi, #contact { padding-top:20px;}



@media all and (max-width: 1024px) { 
    #header-content, section, nav ul { 
        margin-left:80px;
        margin-right:80px;
    }
    #header-content h1  { font-size:3em;}


} 

@media all and (max-width: 900px) {
    #header-content, section { 
        margin-left:50px;
        margin-right:50px;
    }

} 

@media all and (max-width: 750px) {
    #header-content, section, nav ul { 
        margin-left:30px;
        margin-right:30px;

    }
    #header-content h1 { font-size:2.25em;}
    #header-content h2 { font-size:1.25em;}
    #header-content {        margin-top:-70px;}
    }


@media all and (max-width: 550px) {
    #header-content, section, nav ul { 
        margin-left:30px;
        margin-right:30px;
    }
    h1 { font-size:2em;}
    nav ul {float:left; margin:0; padding:0 10px 0 20px; }
    #header-content { margin-top:-100px;}
    #header-content h2 { font-size:1.3em;}

    }



